n8n/telegram-bot-mvp.workflow.json
{
  "name": "Autosnab Telegram Bot MVP (Cloud n8n)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "tg-trigger-1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-1200, 300],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "cfg-1",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 300],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$input.item.json,\n    backendBaseUrl: 'https://REPLACE-WITH-NGROK-URL',\n    maxPollAttempts: 24,\n  }\n}];"
      }
    },
    {
      "id": "normalize-1",
      "name": "Normalize Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 300],
      "parameters": {
        "jsCode": "const update = $input.item.json;\nconst message = update.message || update.edited_message || {};\nconst chatId = message.chat ? message.chat.id : null;\nconst userId = message.from ? message.from.id : null;\nconst username = message.from ? message.from.username : null;\nconst text = (message.text || '').trim();\nconst normalizedText = text.toLowerCase();\n\nlet intent = 'unknown';\nlet fileId = null;\nlet filename = null;\nlet mimeType = null;\n\nif (message.photo && message.photo.length) {\n  const largest = message.photo[message.photo.length - 1];\n  fileId = largest.file_id;\n  filename = `photo-${largest.file_unique_id}.jpg`;\n  mimeType = 'image/jpeg';\n  intent = 'file';\n} else if (message.document) {\n  fileId = message.document.file_id;\n  filename = message.document.file_name || `document-${message.document.file_unique_id}`;\n  mimeType = message.document.mime_type || 'application/octet-stream';\n  intent = 'file';\n} else if (['готово', '/done', 'done'].includes(normalizedText)) {\n  intent = 'done';\n} else if (['статус', '/status', 'status'].includes(normalizedText)) {\n  intent = 'status';\n} else if (['сбросить', '/reset', 'reset'].includes(normalizedText)) {\n  intent = 'reset';\n} else if (['/start', 'start', 'меню', '/menu', 'menu'].includes(normalizedText)) {\n  intent = 'start';\n}\n\nreturn [{\n  json: {\n    chat_id: chatId !== null ? String(chatId) : null,\n    user_id: userId !== null ? String(userId) : null,\n    username: username || null,\n    intent,\n    file_id: fileId,\n    filename,\n    mime_type: mimeType,\n  }\n}];"
      }
    },
    {
      "id": "if-is-file-1",
      "name": "If Is File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-480, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.intent === 'file'}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-file-1",
      "name": "Get Telegram File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-240, 120],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{$json.file_id}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "send-page-1",
      "name": "Send Page To Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 120],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Config').item.json.backendBaseUrl }}/api/v1/invoice-review/bot/drafts/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formData", "name": "chat_id", "value": "={{$('Normalize Update').item.json.chat_id}}" },
            { "parameterType": "formData", "name": "source_user_id", "value": "={{$('Normalize Update').item.json.user_id}}" },
            { "parameterType": "formData", "name": "source_username", "value": "={{$('Normalize Update').item.json.username}}" },
            { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Bot API Key"
        }
      }
    },
    {
      "id": "if-unsupported-1",
      "name": "If Page Unsupported",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [240, 120],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.status === 'unsupported_format'}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "reply-unsupported-1",
      "name": "Reply Unsupported",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 40],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: $json.message || 'Этот формат пока не поддерживается. Пришлите JPG, PNG или PDF.' } }];"
      }
    },
    {
      "id": "reply-page-added-1",
      "name": "Reply Page Added",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 200],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: `Страница ${$json.pages_count} добавлена. Пришлите ещё страницы накладной или нажмите «Готово», если это всё.` } }];"
      }
    },
    {
      "id": "if-is-done-1",
      "name": "If Is Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-240, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.intent === 'done'}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "finalize-draft-1",
      "name": "Finalize Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 340],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Config').item.json.backendBaseUrl }}/api/v1/invoice-review/bot/drafts/finalize",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{$('Normalize Update').item.json.chat_id}}" },
            { "name": "create_google_sheet", "value": "true" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Bot API Key"
        }
      }
    },
    {
      "id": "reply-no-pages-1",
      "name": "Reply No Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 460],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: 'Сначала пришлите хотя бы одну страницу документа.' } }];"
      }
    },
    {
      "id": "reply-processing-1",
      "name": "Reply Processing Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: 'Принял, обрабатываю документ...' } }];"
      }
    },
    {
      "id": "prepare-poll-1",
      "name": "Prepare Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 340],
      "parameters": {
        "jsCode": "let attempt = 0;\ntry {\n  attempt = $('Prepare Poll').item.json.attempt || 0;\n} catch (e) {\n  attempt = 0;\n}\nreturn [{\n  json: {\n    upload_id: $('Finalize Draft').item.json.upload_id,\n    attempt: attempt + 1,\n  }\n}];"
      }
    },
    {
      "id": "wait-poll-1",
      "name": "Wait Before Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [720, 340],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "check-upload-1",
      "name": "Check Upload Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 340],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Workflow Config').item.json.backendBaseUrl }}/api/v1/invoice-review/bot/uploads/{{ $('Prepare Poll').item.json.upload_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Bot API Key"
        }
      }
    },
    {
      "id": "if-poll-done-1",
      "name": "If Poll Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 340],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.completed === true || $('Prepare Poll').item.json.attempt >= $('Workflow Config').item.json.maxPollAttempts }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "compute-stage-1",
      "name": "Compute Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 460],
      "parameters": {
        "jsCode": "const data = $json;\nconst logs = Array.isArray(data.pipeline_logs) ? data.pipeline_logs : [];\nconst lastLog = logs.length ? logs[logs.length - 1] : null;\n\nfunction mapStage(stageName) {\n  if (!stageName) return 'accepted';\n  if (stageName === 'job_failed') return 'failed';\n  if (\n    stageName.indexOf('evidence_provider') === 0 ||\n    stageName.indexOf('document_page') === 0 ||\n    stageName === 'document_received' ||\n    stageName.indexOf('collect_evidence') === 0\n  ) {\n    return 'extracting';\n  }\n  if (stageName.indexOf('openai_') === 0 || stageName.indexOf('reference_mapping') === 0) {\n    return 'ai_processing';\n  }\n  if (stageName.indexOf('google_sheet') === 0) {\n    return 'writing_sheet';\n  }\n  return 'accepted';\n}\n\nconst stageKey = mapStage(lastLog ? lastLog.stage : null);\n\nlet previousStage = 'accepted';\ntry {\n  previousStage = $('Set Stage Reply Text').item.json.lastStageSent || 'accepted';\n} catch (e) {\n  previousStage = 'accepted';\n}\n\nreturn [{\n  json: {\n    ...data,\n    stage_key: stageKey,\n    stage_changed: stageKey !== previousStage,\n  }\n}];"
      }
    },
    {
      "id": "if-stage-changed-1",
      "name": "If Stage Changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 460],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.stage_changed === true}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-stage-reply-1",
      "name": "Set Stage Reply Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400],
      "parameters": {
        "jsCode": "const STAGE_TEXT = {\n  accepted: 'Документ принят в обработку.',\n  extracting: 'Выгружаем данные из скана...',\n  ai_processing: 'Обрабатываем данные через ИИ...',\n  writing_sheet: 'Загружаем данные в таблицу...',\n  failed: 'Возникла ошибка при обработке, уточняю результат...',\n};\nreturn [{\n  json: {\n    reply_text: STAGE_TEXT[$json.stage_key] || 'Документ обрабатывается...',\n    lastStageSent: $json.stage_key,\n  }\n}];"
      }
    },
    {
      "id": "send-stage-update-1",
      "name": "Send Stage Update",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1920, 400],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$('Normalize Update').item.json.chat_id}}",
        "text": "={{$json.reply_text}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "if-is-status-1",
      "name": "If Is Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [0, 560],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.intent === 'status'}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-draft-status-1",
      "name": "Check Draft Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 500],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Workflow Config').item.json.backendBaseUrl }}/api/v1/invoice-review/bot/drafts/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{$('Normalize Update').item.json.chat_id}}" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Bot API Key"
        }
      }
    },
    {
      "id": "if-has-draft-1",
      "name": "If Has Draft",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 500],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.draft !== null && $json.draft !== undefined }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "reply-draft-status-1",
      "name": "Reply Draft Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 440],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: `Черновик: ${$json.draft.pages_count} стр. Пришлите ещё или нажмите «Готово».` } }];"
      }
    },
    {
      "id": "check-latest-1",
      "name": "Check Latest Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 580],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $('Workflow Config').item.json.backendBaseUrl }}/api/v1/invoice-review/bot/uploads/latest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{$('Normalize Update').item.json.chat_id}}" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Bot API Key"
        }
      }
    },
    {
      "id": "reply-no-history-1",
      "name": "Reply No History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 660],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: 'Для этого чата еще нет загруженных документов. Пришлите первую страницу накладной.' } }];"
      }
    },
    {
      "id": "format-result-1",
      "name": "Format Upload Result Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 500],
      "parameters": {
        "jsCode": "const data = $json;\nlet timedOut = false;\ntry {\n  const attempt = $('Prepare Poll').item.json.attempt;\n  const maxAttempts = $('Workflow Config').item.json.maxPollAttempts;\n  if (!data.completed && attempt >= maxAttempts) {\n    timedOut = true;\n  }\n} catch (e) {\n  timedOut = false;\n}\n\nlet text;\nif (timedOut) {\n  text = 'Обработка продолжается дольше обычного. Наберите «Статус» через минуту.';\n} else if (!data.completed) {\n  text = data.message || 'Документ обрабатывается.';\n} else {\n  const lines = [data.message || 'Документ обработан.'];\n  const summary = data.document_summary;\n  if (summary) {\n    if (summary.supplier) lines.push(`Поставщик: ${summary.supplier}`);\n    if (summary.invoice_number) lines.push(`Накладная: ${summary.invoice_number}`);\n    if (summary.invoice_date) lines.push(`Дата: ${summary.invoice_date}`);\n    if (summary.total_sum !== null && summary.total_sum !== undefined) lines.push(`Сумма: ${summary.total_sum}`);\n  }\n  if (data.google_spreadsheet_url) {\n    lines.push(`Таблица: ${data.google_spreadsheet_url}`);\n  } else if (data.google_spreadsheet_error) {\n    lines.push('Не удалось получить ссылку на таблицу, проверьте вручную.');\n  }\n  text = lines.join('\\n');\n}\n\nreturn [{ json: { reply_text: text } }];"
      }
    },
    {
      "id": "if-is-reset-1",
      "name": "If Is Reset",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [240, 720],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.intent === 'reset'}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "reset-draft-1",
      "name": "Reset Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 680],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Config').item.json.backendBaseUrl }}/api/v1/invoice-review/bot/drafts/reset",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{$('Normalize Update').item.json.chat_id}}" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Bot API Key"
        }
      }
    },
    {
      "id": "reply-reset-done-1",
      "name": "Reply Reset Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 680],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: 'Черновик очищен.' } }];"
      }
    },
    {
      "id": "reply-menu-1",
      "name": "Reply Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 800],
      "parameters": {
        "jsCode": "return [{ json: { reply_text: 'Пришлите фото или PDF накладной — можно несколько страниц подряд.\\nКогда все страницы отправлены — нажмите кнопку «Готово» внизу экрана.\\nКнопка «Статус» покажет, что сейчас происходит с документом.\\nКнопка «Сбросить» очистит незавершенный черновик.' } }];"
      }
    },
    {
      "id": "send-reply-1",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1680, 500],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$('Normalize Update').item.json.chat_id}}",
        "text": "={{$json.reply_text}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Workflow Config", "type": "main", "index": 0 }]] },
    "Workflow Config": { "main": [[{ "node": "Normalize Update", "type": "main", "index": 0 }]] },
    "Normalize Update": { "main": [[{ "node": "If Is File", "type": "main", "index": 0 }]] },
    "If Is File": {
      "main": [
        [{ "node": "Get Telegram File", "type": "main", "index": 0 }],
        [{ "node": "If Is Done", "type": "main", "index": 0 }]
      ]
    },
    "Get Telegram File": { "main": [[{ "node": "Send Page To Backend", "type": "main", "index": 0 }]] },
    "Send Page To Backend": { "main": [[{ "node": "If Page Unsupported", "type": "main", "index": 0 }]] },
    "If Page Unsupported": {
      "main": [
        [{ "node": "Reply Unsupported", "type": "main", "index": 0 }],
        [{ "node": "Reply Page Added", "type": "main", "index": 0 }]
      ]
    },
    "Reply Unsupported": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "Reply Page Added": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "If Is Done": {
      "main": [
        [{ "node": "Finalize Draft", "type": "main", "index": 0 }],
        [{ "node": "If Is Status", "type": "main", "index": 0 }]
      ]
    },
    "Finalize Draft": {
      "main": [
        [{ "node": "Reply Processing Started", "type": "main", "index": 0 }],
        [{ "node": "Reply No Pages", "type": "main", "index": 0 }]
      ]
    },
    "Reply No Pages": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "Reply Processing Started": {
      "main": [
        [
          { "node": "Send Reply", "type": "main", "index": 0 },
          { "node": "Prepare Poll", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Poll": { "main": [[{ "node": "Wait Before Poll", "type": "main", "index": 0 }]] },
    "Wait Before Poll": { "main": [[{ "node": "Check Upload Status", "type": "main", "index": 0 }]] },
    "Check Upload Status": { "main": [[{ "node": "If Poll Done", "type": "main", "index": 0 }]] },
    "If Poll Done": {
      "main": [
        [{ "node": "Format Upload Result Message", "type": "main", "index": 0 }],
        [{ "node": "Compute Stage", "type": "main", "index": 0 }]
      ]
    },
    "Compute Stage": { "main": [[{ "node": "If Stage Changed", "type": "main", "index": 0 }]] },
    "If Stage Changed": {
      "main": [
        [{ "node": "Set Stage Reply Text", "type": "main", "index": 0 }],
        [{ "node": "Prepare Poll", "type": "main", "index": 0 }]
      ]
    },
    "Set Stage Reply Text": { "main": [[{ "node": "Send Stage Update", "type": "main", "index": 0 }]] },
    "Send Stage Update": { "main": [[{ "node": "Prepare Poll", "type": "main", "index": 0 }]] },
    "If Is Status": {
      "main": [
        [{ "node": "Check Draft Status", "type": "main", "index": 0 }],
        [{ "node": "If Is Reset", "type": "main", "index": 0 }]
      ]
    },
    "Check Draft Status": { "main": [[{ "node": "If Has Draft", "type": "main", "index": 0 }]] },
    "If Has Draft": {
      "main": [
        [{ "node": "Reply Draft Status", "type": "main", "index": 0 }],
        [{ "node": "Check Latest Upload", "type": "main", "index": 0 }]
      ]
    },
    "Reply Draft Status": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "Check Latest Upload": {
      "main": [
        [{ "node": "Format Upload Result Message", "type": "main", "index": 0 }],
        [{ "node": "Reply No History", "type": "main", "index": 0 }]
      ]
    },
    "Reply No History": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "Format Upload Result Message": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "If Is Reset": {
      "main": [
        [{ "node": "Reset Draft", "type": "main", "index": 0 }],
        [{ "node": "Reply Menu", "type": "main", "index": 0 }]
      ]
    },
    "Reset Draft": { "main": [[{ "node": "Reply Reset Done", "type": "main", "index": 0 }]] },
    "Reply Reset Done": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "Reply Menu": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] }
  },
  "pinData": {}
}
