n8n/telegram-bot-full.workflow.json
{
  "name": "autosnab telegram bot full",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "replace-telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message || {};\nconst text = String(msg.text || '').trim();\nconst normalizedText = text.toLowerCase();\nconst chatId = msg.chat?.id ? String(msg.chat.id) : null;\nconst userId = msg.from?.id ? String(msg.from.id) : null;\nconst username = msg.from?.username || [msg.from?.first_name, msg.from?.last_name].filter(Boolean).join(' ') || null;\nconst photo = Array.isArray(msg.photo) && msg.photo.length ? msg.photo[msg.photo.length - 1] : null;\nconst document = msg.document || null;\nconst fileId = document?.file_id || photo?.file_id || null;\nconst fileName = document?.file_name || (photo ? `telegram-photo-${photo.file_unique_id || Date.now()}.jpg` : null);\nconst mimeType = document?.mime_type || (photo ? 'image/jpeg' : null);\nconst config = {\n  telegramBotToken: 'replace_me',\n  backendBaseUrl: 'http://localhost:8000',\n  botSourceChannel: 'telegram_bot',\n  botDocumentKind: 'primary_document',\n  createGoogleSheet: 'false',\n  extractionMethod: 'openai',\n  defaultOrganizationName: '',\n  defaultPointName: ''\n};\nconst homeText = [\n  'АвтоСнаб Документы',\n  '',\n  'Отправьте фото или PDF накладной.',\n  'Если страниц несколько, пришлите их подряд.',\n  'Когда всё отправите, нажмите «Готово».'\n].join('\\n');\nconst menuText = 'Команды: Новый документ · Готово · Статус · Сбросить';\nconst welcomeText = `${homeText}\\n\\n${menuText}`;\nconst helpText = 'Новый документ · Готово · Статус · Сбросить';\nconst collectingHint = 'Следующий шаг: отправьте ещё страницу или нажмите «Готово».';\nconst replyKeyboard = JSON.stringify({\n  keyboard: [\n    [{ text: 'Новый документ' }, { text: 'Готово' }],\n    [{ text: 'Статус' }, { text: 'Сбросить' }],\n  ],\n  resize_keyboard: true,\n  is_persistent: true,\n  input_field_placeholder: 'Отправьте фото или выберите действие'\n});\nlet intent = 'unknown';\nif (['/start', '/menu', '/help', 'меню', 'начать', 'новый документ', 'новый', 'загрузить'].includes(normalizedText)) intent = 'start_session';\nelse if (normalizedText === 'готово' || normalizedText === '/done') intent = 'finalize';\nelse if (normalizedText === 'статус' || normalizedText === '/status') intent = 'status';\nelse if (normalizedText === 'сбросить' || normalizedText === '/reset') intent = 'reset';\nelse if (fileId) intent = 'append_file';\nreturn [{ json: { intent, text, normalizedText, config, homeText, welcomeText, helpText, collectingHint, replyKeyboard, chatId, userId, username, fileId, fileName, mimeType, raw: $json } }];"
      },
      "id": "normalize-update",
      "name": "Normalize Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "start_session",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "append_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "finalize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "id": "route-intent",
      "name": "Route Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        730,
        320
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "telegram_bot_sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{$json.chatId}}",
            "user_id": "={{$json.userId}}",
            "username": "={{$json.username}}",
            "status": "collecting",
            "files_json": "=[]",
            "organization_name": "={{$json.config.defaultOrganizationName || ''}}",
            "point_name": "={{$json.config.defaultPointName || ''}}",
            "backend_upload_id": "=",
            "backend_trace_id": "="
          }
        },
        "matchingColumns": [
          "chat_id"
        ]
      },
      "id": "start-session-memory",
      "name": "Start Session Memory",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1010,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{'Новый документ создан.\\n\\n' + $json.welcomeText}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-session-opened",
      "name": "Reply Session Opened",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "telegram_bot_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{$json.chatId}}"
            }
          ]
        }
      },
      "id": "load-session-for-file",
      "name": "Load Session For File",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1010,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $json.config || {};\nif (!$json.chatId) {\n  return [{ json: { ...$json, appendError: 'Не найден chatId для загрузки файла.' } }];\n}\nif (!$json.fileId) {\n  return [{ json: { ...$json, appendError: 'Файл не найден в сообщении Telegram.' } }];\n}\nconst sessionRow = $json.data?.[0] || null;\nlet sessionFilesJson = '[]';\nlet sessionStatus = 'collecting';\nlet organizationName = config.defaultOrganizationName || '';\nlet pointName = config.defaultPointName || '';\nlet backendUploadId = '';\nlet backendTraceId = '';\nif (sessionRow) {\n  sessionFilesJson = sessionRow.files_json || '[]';\n  sessionStatus = sessionRow.status || sessionStatus;\n  organizationName = sessionRow.organization_name || organizationName;\n  pointName = sessionRow.point_name || pointName;\n  backendUploadId = sessionRow.backend_upload_id || '';\n  backendTraceId = sessionRow.backend_trace_id || '';\n}\nlet existingFilesCount = 0;\ntry {\n  const parsed = JSON.parse(sessionFilesJson || '[]');\n  existingFilesCount = Array.isArray(parsed) ? parsed.length : 0;\n} catch {\n  sessionFilesJson = '[]';\n}\nreturn [{ json: { ...$json, sessionRowId: sessionRow?.id || '', sessionFilesJson, sessionStatus, sessionAutoOpened: existingFilesCount === 0, organizationName, pointName, backendUploadId, backendTraceId } }];"
      },
      "id": "prepare-file-download",
      "name": "Prepare File Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.appendError || ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-append-error",
      "name": "Check Append Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.appendError + '\\n\\nОтправьте фото или PDF ещё раз.'}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-append-error",
      "name": "Reply Append Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        160
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/getFile?file_id={{$json.fileId}}",
        "responseFormat": "json"
      },
      "id": "telegram-get-file",
      "name": "Telegram Get File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $json.result || {};\nif (!result.file_path) {\n  return [{ json: { ...$json, downloadError: 'Telegram не вернул file_path для файла.' } }];\n}\nconst source = $('Prepare File Download').first().json;\nreturn [{ json: { ...source, telegramFilePath: result.file_path } }];"
      },
      "id": "map-telegram-file-path",
      "name": "Map Telegram File Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.downloadError || ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-download-error",
      "name": "Check Download Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "Не удалось получить файл из Telegram. Отправьте его ещё раз."
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-download-error",
      "name": "Reply Download Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{$json.config.telegramBotToken}}/{{$json.telegramFilePath}}",
        "responseFormat": "file",
        "outputPropertyName": "uploadedFile"
      },
      "id": "download-telegram-file-binary",
      "name": "Download Telegram File Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nconst binaryMap = inputItem?.binary || {};\nconst binary = binaryMap.uploadedFile || binaryMap.data || Object.values(binaryMap)[0] || null;\nif (!binary?.data) {\n  return [{ json: { ...$json, storeError: 'Не удалось получить бинарные данные файла из Telegram.' } }];\n}\nlet files = [];\ntry {\n  const parsed = JSON.parse($json.sessionFilesJson || '[]');\n  files = Array.isArray(parsed) ? parsed : [];\n} catch {\n  return [{ json: { ...$json, storeError: 'Не удалось прочитать сохранённые страницы документа.' } }];\n}\nfiles.push({\n  fileId: $json.fileId,\n  fileName: $json.fileName || binary.fileName || 'telegram-upload',\n  mimeType: binary.mimeType || $json.mimeType || 'application/octet-stream',\n  data: binary.data,\n  appendedAt: new Date().toISOString()\n});\nreturn [{ json: { ...$json, filesCount: files.length, filesJson: JSON.stringify(files), statusToPersist: 'collecting' } }];"
      },
      "id": "store-file-in-memory",
      "name": "Store File In Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2470,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "telegram_bot_sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{$json.chatId}}",
            "user_id": "={{$json.userId}}",
            "username": "={{$json.username}}",
            "status": "={{$json.statusToPersist}}",
            "files_json": "={{$json.filesJson}}",
            "organization_name": "={{$json.organizationName || ''}}",
            "point_name": "={{$json.pointName || ''}}",
            "backend_upload_id": "={{$json.backendUploadId || ''}}",
            "backend_trace_id": "={{$json.backendTraceId || ''}}"
          }
        },
        "matchingColumns": [
          "chat_id"
        ]
      },
      "id": "persist-session-row",
      "name": "Persist Session Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2710,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.storeError || ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-store-error",
      "name": "Check Store Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2950,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "Не удалось сохранить файл в текущую загрузку. Отправьте его ещё раз."
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-store-error",
      "name": "Reply Store Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3190,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{($json.sessionAutoOpened ? 'Документ создан.\\n' : '') + 'Страница ' + $json.filesCount + ' добавлена.\\n\\n' + ($json.collectingHint || $('Normalize Update').first().json.collectingHint)}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-file-added",
      "name": "Reply File Added",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3190,
        340
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "telegram_bot_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{$json.chatId}}"
            }
          ]
        }
      },
      "id": "load-session-finalize",
      "name": "Load Session Finalize",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1010,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const session = $json.data?.[0] || null;\nconst config = $json.config || {};\nif (!session?.id) {\n  return [{ json: { ...$json, finalizeError: 'Нет активного документа. Сначала отправьте фото или PDF.' } }];\n}\nlet files = [];\ntry {\n  const parsed = JSON.parse(session.files_json || '[]');\n  files = Array.isArray(parsed) ? parsed : [];\n} catch {\n  return [{ json: { ...$json, finalizeError: 'Не удалось прочитать сохранённые страницы документа.' } }];\n}\nif (!files.length) {\n  return [{ json: { ...$json, finalizeError: 'Документ пока пустой. Сначала отправьте фото или PDF.' } }];\n}\nif (files.length > 5) {\n  return [{ json: { ...$json, finalizeError: 'Сейчас можно отправить до 5 страниц в одном документе.' } }];\n}\nconst uploadContract = {\n  source_channel: config.botSourceChannel || 'telegram_bot',\n  document_kind: config.botDocumentKind || 'primary_document',\n  source_user_id: $json.userId || session.user_id,\n  source_username: $json.username || session.username || null,\n  source_chat_id: $json.chatId || session.chat_id,\n  organization_name: session.organization_name || config.defaultOrganizationName || null,\n  point_name: session.point_name || config.defaultPointName || null,\n  create_google_sheet: String(config.createGoogleSheet || 'false'),\n  extraction_method: config.extractionMethod || 'openai'\n};\nconst binary = {};\nfiles.forEach((file, index) => {\n  binary[`file_${index + 1}`] = {\n    data: file.data,\n    mimeType: file.mimeType || 'application/octet-stream',\n    fileName: file.fileName || `page-${index + 1}`\n  };\n});\nreturn [{ json: { ...$json, sessionRowId: session.id, uploadContract, filesCount: files.length }, binary }];"
      },
      "id": "prepare-finalize",
      "name": "Prepare Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.finalizeError || ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-finalize-error",
      "name": "Check Finalize Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.finalizeError}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-finalize-error",
      "name": "Reply Finalize Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.config.backendBaseUrl + '/api/v1/invoice-review/bot/upload-document-live'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_channel",
              "value": "={{$json.uploadContract.source_channel}}"
            },
            {
              "name": "document_kind",
              "value": "={{$json.uploadContract.document_kind}}"
            },
            {
              "name": "source_user_id",
              "value": "={{$json.uploadContract.source_user_id}}"
            },
            {
              "name": "source_username",
              "value": "={{$json.uploadContract.source_username}}"
            },
            {
              "name": "source_chat_id",
              "value": "={{$json.uploadContract.source_chat_id}}"
            },
            {
              "name": "organization_name",
              "value": "={{$json.uploadContract.organization_name}}"
            },
            {
              "name": "point_name",
              "value": "={{$json.uploadContract.point_name}}"
            },
            {
              "name": "create_google_sheet",
              "value": "={{$json.uploadContract.create_google_sheet}}"
            },
            {
              "name": "extraction_method",
              "value": "={{$json.uploadContract.extraction_method}}"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_1"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_2"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_3"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_4"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_5"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-to-backend-contract",
      "name": "Upload To Backend Contract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst status = source.status;\nlet replyText = 'Документ отправлен в обработку.';\nif (status === 'unsupported_format') {\n  replyText = source.message || 'Формат файла пока не поддерживается.';\n} else if (status === 'accepted_for_processing') {\n  replyText = `Документ отправлен в обработку.\\nНомер загрузки: ${source.upload_id}`;\n}\nreplyText += '\\n\\nПроверить результат: «Статус».';\nreturn [{ json: { ...source, replyText } }];"
      },
      "id": "map-upload-outcome",
      "name": "Map Upload Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "telegram_bot_sessions",
        "rowId": "={{$item(0).$node['Prepare Finalize'].json.sessionRowId}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{$json.status}}",
            "backend_upload_id": "={{$json.upload_id || ''}}",
            "backend_trace_id": "={{$json.trace_id || ''}}"
          }
        }
      },
      "id": "store-backend-status-in-memory",
      "name": "Store Backend Status In Memory",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1980,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$item(0).$node['Normalize Update'].json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$item(0).$node['Normalize Update'].json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.replyText}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$item(0).$node['Normalize Update'].json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-uploaded",
      "name": "Reply Uploaded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        540
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "telegram_bot_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{$json.chatId}}"
            }
          ]
        }
      },
      "id": "load-session-status",
      "name": "Load Session Status",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1010,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const session = $json.data?.[0] || null;\nif (!session?.id) {\n  return [{ json: { ...$json, statusLookupError: 'Пока нечего проверять. Сначала отправьте фото или PDF.' } }];\n}\nif (!session.backend_upload_id) {\n  return [{ json: { ...$json, statusLookupError: 'Документ ещё не отправлен в backend. Нажмите «Готово» после загрузки страниц.' } }];\n}\nreturn [{ json: { ...$json, backendUploadId: session.backend_upload_id } }];"
      },
      "id": "prepare-status-check",
      "name": "Prepare Status Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1010,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.statusLookupError || ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-status-lookup-error",
      "name": "Check Status Lookup Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.statusLookupError}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-status-lookup-error",
      "name": "Reply Status Lookup Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        620
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.config.backendBaseUrl + '/api/v1/invoice-review/bot/uploads/' + $json.backendUploadId}}",
        "responseFormat": "json"
      },
      "id": "poll-backend-status",
      "name": "Poll Backend Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nlet text = source.message || 'Статус обновлён.';\nif (source.status === 'processing' || source.status === 'accepted_for_processing') {\n  text = 'Документ ещё обрабатывается.';\n} else if (source.status === 'processed' || source.status === 'transferred_to_review') {\n  text = 'Документ обработан.';\n} else if (source.status === 'requires_review') {\n  text = 'Документ требует проверки оператором.';\n} else if (source.status === 'possible_duplicate') {\n  text = 'Похоже, это дубль документа.';\n} else if (source.status === 'processing_error') {\n  text = 'Обработка завершилась ошибкой.';\n}\nif (source.review_id) {\n  text += `\\nID проверки: ${source.review_id}`;\n}\nif (source.result_code) {\n  text += `\\nРезультат: ${source.result_code}`;\n}\nif (source.error_text) {\n  text += `\\nОшибка: ${source.error_text}`;\n}\nreturn [{ json: { ...source, replyText: text } }];"
      },
      "id": "map-status-outcome",
      "name": "Map Status Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$item(0).$node['Normalize Update'].json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$item(0).$node['Normalize Update'].json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.replyText}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$item(0).$node['Normalize Update'].json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-status",
      "name": "Reply Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        700
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "telegram_bot_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{$json.chatId}}"
            }
          ]
        }
      },
      "id": "reset-session-memory",
      "name": "Reset Session Memory",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1010,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{'Черновик документа очищен.\\n\\n' + ($json.welcomeText || $('Normalize Update').first().json.welcomeText)}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-reset",
      "name": "Reply Reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.config.telegramBotToken}}/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.welcomeText || $('Normalize Update').first().json.welcomeText}}"
            },
            {
              "name": "reply_markup",
              "value": "={{$json.replyKeyboard || $('Normalize Update').first().json.replyKeyboard}}"
            }
          ]
        }
      },
      "id": "reply-unknown-intent",
      "name": "Reply Unknown Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1010,
        940
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Update": {
      "main": [
        [
          {
            "node": "Route Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Intent": {
      "main": [
        [
          {
            "node": "Start Session Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session For File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session Finalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Session Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unknown Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Session Memory": {
      "main": [
        [
          {
            "node": "Reply Session Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session For File": {
      "main": [
        [
          {
            "node": "Prepare File Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Download": {
      "main": [
        [
          {
            "node": "Check Append Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Append Error": {
      "main": [
        [
          {
            "node": "Reply Append Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Get File": {
      "main": [
        [
          {
            "node": "Map Telegram File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Telegram File Path": {
      "main": [
        [
          {
            "node": "Check Download Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Download Error": {
      "main": [
        [
          {
            "node": "Reply Download Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Telegram File Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Telegram File Binary": {
      "main": [
        [
          {
            "node": "Store File In Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store File In Memory": {
      "main": [
        [
          {
            "node": "Persist Session Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Session Row": {
      "main": [
        [
          {
            "node": "Check Store Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Store Error": {
      "main": [
        [
          {
            "node": "Reply Store Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply File Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session Finalize": {
      "main": [
        [
          {
            "node": "Prepare Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Finalize": {
      "main": [
        [
          {
            "node": "Check Finalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Finalize Error": {
      "main": [
        [
          {
            "node": "Reply Finalize Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload To Backend Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To Backend Contract": {
      "main": [
        [
          {
            "node": "Map Upload Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Upload Outcome": {
      "main": [
        [
          {
            "node": "Store Backend Status In Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Backend Status In Memory": {
      "main": [
        [
          {
            "node": "Reply Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session Status": {
      "main": [
        [
          {
            "node": "Prepare Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Status Check": {
      "main": [
        [
          {
            "node": "Check Status Lookup Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Lookup Error": {
      "main": [
        [
          {
            "node": "Reply Status Lookup Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Poll Backend Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Backend Status": {
      "main": [
        [
          {
            "node": "Map Status Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Status Outcome": {
      "main": [
        [
          {
            "node": "Reply Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Session Memory": {
      "main": [
        [
          {
            "node": "Reply Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "telegram-bot-full-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
